{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@": "./",
                "@components": "./client/components",
                "@pages": "./client/pages",
                "@router": "./client/router",
                "@styles": "./client/styles",
                "@validators": "./client/validators",
                "@config": "./server/config",
                "@controllers": "./server/controllers",
                "@routes": "./server/routes"
            }
        }]
    ]
}